.title {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  padding: 2px;
  color: white;
  cursor: pointer;
  text-shadow: 4px 3px 0 #e832f881, 9px 4px 0px rgba(61, 5, 58, 0.58);
}

.title:hover {
  font-weight: bold;
}
