
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 1250px;
  margin: 0px auto;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav li a:hover:not(.active) {
  background-color: #602274;
}

.active {
  background-color: #222730;
}