.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: white;
  transition: all 0.3s;
  border: solid 1px #eee;
  height: 400px;  
  margin: 10px 0;
}

.card:not(:last-child) {
  margin-right: 5px;
}

.card:hover {
  background: #a406ff34;
  transform: scale(1.05);
}

.card .title {
  margin: 25px 0px 0px 0px;
  font-size: 20px;
}

.card .content {
  width: 100%;
  margin: 0 0 1em 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.card .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.containerPrice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price {
  font-size: .8rem;
}

.priceDiscount {
  font-size: 1.3rem;
  font-weight: 600;
}

.card .link {
  display: none;
  text-decoration: none;
  color: white;
  background: #9B4DCA;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .link {
  display: inline-block;
  background: #9B4DCA;  
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 40px);
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 50px);
  }
}
