.cards {
  display: flex;
  padding: 10px 0px;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: #9B4DCA;
}

.cards::-webkit-scrollbar-track {
  background: #ccc;
}

.title {
  margin: 0px;
  padding: 0px;
}
