.main {
  width: 100%;
  max-width: 1250px;
  margin: 10px auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  background-color: #7e1bbb;
  height: 200px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}
